.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 28px;
  row-gap: 35px;
}

.item {
  flex: 0 0 260px;
}

.emptyState {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120px;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 16px;
}

.emptyText {
  color: rgba(0, 0, 0, 0.6);
}
